@model List<Post>
@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div>
        <div>
            <h2>Последние посты</h2>
        </div>
        <div style="word-break: break-all;">
            @foreach (var post in Model)
            {
                <div style="background-color:lightgray; text-align:center; border-radius:10px; padding:3px 0px 10px 0px; margin:5px">
                    <h3>@post.PostTitle by @post.Blog.User.Name</h3><br />
                    <h4>@post.PostContent</h4>
                </div>
            }
        </div>
    </div>
</div>