@model Blogger.Models.Post
@{
    ViewData["Title"] = "AddPost";
}

@section scripts{
    @{await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");}
}

@inject ApiDbContext dbContext

<form asp-antiforgery="true" asp-action="AddPost" asp-controller="Post">
    <div>
        @{await Html.RenderPartialAsync("~/Views/Shared/PostContentEditPartial.cshtml");}


        <input type="hidden" asp-for="BlogId" value="@dbContext.BlogList.FirstOrDefault(b=>b.User.Email == User.Identity.Name).ID" />
        <div>
            <input type="submit" id="sendButton" value="Отправить" />
        </div>
    </div>
</form>
