@model Post
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "RedactPost";
}

<div>
    <form method="post" asp-action="RedactPos" asp-controller="Post" asp-antiforgery="true">
        @{await Html.RenderPartialAsync("~/Views/Shared/PostContentEditPartial.cshtml");}
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" value="@Localizer["SaveLabel"]" />
    </form>
</div>

